span.example-val {
    /*width: 100%;
    clear: both;
    float: left;
    margin: 10px 0;
    /*text-align: center;
	display: inline;
    font-family: 'Arial';*/

display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

.example-val-hidden {
	position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

#search {
  z-index: 100;
  margin-bottom: 5px;
}
.center {
  margin: auto;
  width: 40%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.center2 {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.leaflet-popup-content {
	height:300px;
	overflow: scroll;
}
